<% if resource.errors.any? %>
<div>
Le formulaire contient <%= pluralize(resource.errors.count, "erreur") %>
<button>×</button>
<ul>
<% resource.errors.full_messages.each do |msg| %>
<li>- <%= msg %></li>
<% end %>
</ul>
</div>
<% end %>